<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xmlns:tx="http://www.springframework.org/schema/tx"
     xmlns:jdbc="http://www.springframework.org/schema/jdbc"
     xmlns:context="http://www.springframework.org/schema/context"
     xsi:schemaLocation="
	     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
	     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.1.xsd
	     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
	     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">
     
	<!--   	自定义标签 -->
	<bean id="car" class="tk.codecube.test.custombeanlifecycle.Car" init-method="myInit" destroy-method="myDestroy">
		<property name="brand" value="红旗CA72" />  
		<property name="color" value="银白" />  
		<property name="maxSpeed" value="280" />  
	</bean>
	<bean id="popoj" class="tk.codecube.test.custombeanlifecycle.Popoj">
		<property name="IDCode" value="7923" />  
		<property name="brand" value="红旗CA72" />  
		<property name="color" value="银白" />  
		<property name="maxSpeed" value="280" />  
	</bean>
	
	<bean id="myBeanPostProcessor" class="tk.codecube.test.custombeanlifecycle.MyBeanPostProcessor"></bean>
	<bean id="myBeanFactoryPostProcessor" class="tk.codecube.test.custombeanlifecycle.MyBeanFactoryPostProcessor"></bean>
  	
 </beans>